/* Reset y estilos base */
* {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(21, 117, 146);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #100114;
  padding-bottom: 80px; /* Evita que el footer tape contenido */
}

/* Título y presentación */
#titulo {
  margin: 40px 20px;
}

#titulo h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#titulo p {
  font-size: 18px;
  margin-bottom: 15px;
}

#titulo span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Contenido principal */
#contenido {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  margin: 20px;
}

.conocimientos,
.descipcion {
  flex: 1;
  box-shadow: 5px 5px 5px #0f2011;
  border-radius: 20px;
  padding: 20px;
  background-color: #400a478e;
}

.conocimientos h2,
.descipcion h2 {
  margin-bottom: 10px;
  color: white;
}

span {
  color: aliceblue;
}

.fondo a {
  background-color: #183319;
  color: wheat;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
}

/* Menú */
.contenedor {
  margin: 60px 0;
}

.menu-horizontal {
  display: flex;
  gap: 150px;
  list-style: none;
  justify-content: center;
}

.menu-horizontal li a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #183319;
  color: white;
  border-radius: 70px;
  text-decoration: none;
  box-shadow: 0 8px 5px #070f08;
  transition: background-color 0.6s;
}

.menu-horizontal li a:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 10px 0;
}

.redes li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

@media (max-width: 768px) {
  #contenido {
    flex-direction: column;
    align-items: center;
  }

  .menu-horizontal {
    flex-direction: column;
    gap: 20px;
  }
}

/* Móviles */
@media (max-width: 600px) {
  #titulo h1 {
    font-size: 24px;
  }

  #titulo p {
    font-size: 16px;
  }

  .menu-horizontal li a {
    padding: 8px 20px;
    font-size: 14px;
  }

  footer {
    position: static;
    margin-top: 20px;
  }
}
